<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Change Password - Ldap manager</title>
  </head>
  <body>
    <div style="margin: auto; width: 500px; align: center">
      <form action="/change_password" method="post">
        <label>用户名（拼音）</label>
        <div class="input-group mb-3">
          {{ form.username(class='form-control') }}
        </div>
        <label>密码</label>
        <div class="input-group mb-3">
          {{ form.confirm(class='form-control') }}
        </div>
        <label>确认密码</label>
        <div class="input-group mb-3">
          {{ form.password(class='form-control') }}
        </div>
        <label>Google Authenticator密码</label>
        <div class="input-group mb-3">
          {{ form.code(class='form-control') }}
        </div>
        <input type="submit" value="确定修改密码" style="margin-top: 5px" class='btn btn-success'>
      </form>
    </div>
  </body>
</html>
